@import 'setup';
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;1,700&display=swap');


html {
  font-size: 125%;
  // font-family: 
}

body {
  background-color:#006400;
  color: white;
  height: 100vh;
  text-align: center;
  font-family: 'Roboto', sans-serif; 
  font-size: 125%; 
}

h1{
   font-family: 'Roboto', sans-serif;
   font-size: 5rem;
   font-weight: bold;
}

img {
  width: 100%;
}


.deckContainer{
  display: flex;
  justify-content: space-around;
  height: 50vh;
  align-items: center ;
}

.startingPoint{
  display: none;
}

.deck {
  width: 200px;
  height: 400px;

    img {
      border-radius: 10px;
    }
}

button {
  border: none;
  margin: 0;
  padding: 0;
}

